<a href="https://colab.research.google.com/github/afroman32/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [1]:
# get the dataset from the website
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-12-03 23:28:12--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.69M   892KB/s    in 25s

2019-12-03 23:28:38 (876 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22744357]

In [2]:
# unzip the dataset
!unzip LoanStats_2018Q4.csv

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [3]:
import pandas as pd
# create a dataframe with proper header and footers
df= pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine = 'python')
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [4]:
# inspect term column
print(df['term'].dtypes)
df['term'].head()

object

0     36 months
1     60 months
2     60 months
3     36 months
4     60 months
Name: term, dtype: object

In [0]:
# create a function to change str to int
def str_int(x):
  return float(x.strip('months').strip())

In [6]:
# test function and check datatype
temp = '24 months'
print(str_int(temp))
type(str_int(temp))

24.0

float

In [7]:
print(df['term'].dtypes)

object

In [8]:
# apply function to term column in dataframe
df['term'] = df['term'].apply(str_int)
df['term'].head()

0    36.0
1    60.0
2    60.0
3    36.0
4    60.0
Name: term, dtype: float64

In [9]:
# check data type and check for null values
print(df['loan_status'].dtype)
df['loan_status'].isnull().sum()

object

0

In [10]:
df['loan_status'].head(50)

0                Current
1             Fully Paid
2                Current
3                Current
4             Fully Paid
5             Fully Paid
6                Current
7             Fully Paid
8                Current
9                Current
10            Fully Paid
11            Fully Paid
12               Current
13               Current
14               Current
15               Current
16               Current
17               Current
18            Fully Paid
19               Current
20               Current
21               Current
22               Current
23               Current
24               Current
25               Current
26            Fully Paid
27               Current
28           Charged Off
29               Current
30            Fully Paid
31            Fully Paid
32               Current
33            Fully Paid
34            Fully Paid
35               Current
36    Late (31-120 days)
37               Current
38               Current
39               Current
40               Current
41            Fully Paid
42               Current
43               Current
44            Fully Paid
45            Fully Paid
46            Fully Paid
47           Charged Off
48               Current
49               Current
Name: loan_status, dtype: object

In [0]:
# function to change "Current" or "Fully Paid" to 1 
#If not "Current" or "Fully Paid" to 0
def update_loan(z):
  
  if z=="Current" or z=="Fully Paid":
    return 1
  else:
    return 0

In [28]:
# check the function to see if it works
test = ['Current', 'Fully Paid', 'Charged Off', 'Late(13-120 days)']
print(update_loan(test[0]))
print(update_loan(test[1]))
print(update_loan(test[2]))
print(update_loan(test[3]))

1
1
0
0

In [13]:
# create a new series with function parameters applied
df['loan_status_is_great']=df['loan_status'].apply(update_loan)

# Check to see if it worked properly all should be 1 except rows 28 and 36
print(df['loan_status'].head(37))
print(df['loan_status_is_great'].head(37))

0                Current
1             Fully Paid
2                Current
3                Current
4             Fully Paid
5             Fully Paid
6                Current
7             Fully Paid
8                Current
9                Current
10            Fully Paid
11            Fully Paid
12               Current
13               Current
14               Current
15               Current
16               Current
17               Current
18            Fully Paid
19               Current
20               Current
21               Current
22               Current
23               Current
24               Current
25               Current
26            Fully Paid
27               Current
28           Charged Off
29               Current
30            Fully Paid
31            Fully Paid
32               Current
33            Fully Paid
34            Fully Paid
35               Current
36    Late (31-120 days)
Name: loan_status, dtype: object
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    0
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    0
Name: loan_status_is_great, dtype: int64

In [14]:
df['last_pymnt_d'].head(10)

0    Nov-2019
1    Apr-2019
2    Oct-2019
3    Oct-2019
4    Apr-2019
5    Feb-2019
6    Oct-2019
7    Sep-2019
8    Oct-2019
9    Nov-2019
Name: last_pymnt_d, dtype: object

In [15]:
# convert last_pymnt_d to datetime format
df['last_pymnt_d']=pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

# check
df['last_pymnt_d'].head()

0   2019-11-01
1   2019-04-01
2   2019-10-01
3   2019-10-01
4   2019-04-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [16]:
# create a column for last_pymnt_d_month and one for last_pymnt_d_year
df['last_pymnt_d_month']=df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

# check to see if changes stayed
df.head()

   id  member_id  ...  last_pymnt_d_month  last_pymnt_d_year
0 NaN        NaN  ...                11.0             2019.0
1 NaN        NaN  ...                 4.0             2019.0
2 NaN        NaN  ...                10.0             2019.0
3 NaN        NaN  ...                10.0             2019.0
4 NaN        NaN  ...                 4.0             2019.0

[5 rows x 147 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [17]:
df[df['revol_util'].isnull()]
# df['revol_util'][234]

        id  member_id  ...  last_pymnt_d_month  last_pymnt_d_year
234    NaN        NaN  ...                10.0             2019.0
5043   NaN        NaN  ...                11.0             2019.0
5266   NaN        NaN  ...                11.0             2019.0
6163   NaN        NaN  ...                11.0             2019.0
6682   NaN        NaN  ...                11.0             2019.0
...     ..        ...  ...                 ...                ...
125591 NaN        NaN  ...                11.0             2019.0
125751 NaN        NaN  ...                12.0             2019.0
127375 NaN        NaN  ...                11.0             2019.0
127667 NaN        NaN  ...                11.0             2019.0
128315 NaN        NaN  ...                 3.0             2019.0

[156 rows x 147 columns]

In [0]:
import numpy as np

def str_float(x):
# check if value is null variable and leave it unchanged
  if x is np.NaN:
    return np.NaN
# change all other values to float values 
  else:
    return float(x.strip().strip('%'))

In [19]:
# test function with values from dataframe
print(str_float(df['revol_util'][233]))
print(str_float(df['revol_util'][234]))

7.2
nan

In [20]:
# make change to revol_util column in dataframe
df['revol_util']=df['revol_util'].apply(str_float)
# give it a look make sure it is good
df['revol_util'].head()

0    73.0
1    36.8
2    65.4
3     9.8
4    74.9
Name: revol_util, dtype: float64

In [26]:
df['emp_title'].value_counts().head(20)

Teacher                     2090
Manager                     1773
Registered Nurse             952
Driver                       924
RN                           726
Supervisor                   697
Sales                        580
Project Manager              526
General Manager              523
Office Manager               521
Owner                        420
Director                     402
Operations Manager           387
Truck Driver                 387
Nurse                        326
Engineer                     325
Sales Manager                304
manager                      301
Supervisor                   270
Administrative Assistant     269
Name: emp_title, dtype: int64

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01